<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <main>
        {% for key, value in posts.items(): %}
            <div class="container allocated">
                <h1>{{key}}</h1>
                <h2>{{value}}</h2>
            </div>            
        {% endfor %}
        <a href="{{ url_for('test_json',value='value') }}" class="btn-m">Test JSON</a>
    </main>
</body>
</html>